body {
            font-family: -apple-system,BlinkMacSystemFont,sans-serif !important;
            background-color: #020412;; 
            color: #e5e7eb; 
        }

        #logo-title {
            font-family: 'Orbitron', sans-serif;
        }

 #countdown span {
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
    }

@keyframes pulse-glow {
    0% { text-shadow: 0 0 10px rgba(0, 255, 255, 0.8); }
    50% { text-shadow: 0 0 25px rgba(0, 255, 255, 1); }
    100% { text-shadow: 0 0 10px rgba(0, 255, 255, 0.8); }
}

.glow-pulse {
    animation: pulse-glow 2s infinite ease-in-out;
}